<sq-tab-group sq-stretch-tabs dynamic-height="50px">
  <sq-tab label="Data Load Configurations">
    <ng-template sqTabContent>
      Data Load Configurations Details
    </ng-template>
  </sq-tab>
  <sq-tab label="Annotation Definitions">
    <ng-template sqTabContent>
      Annotation Definitions Details
    </ng-template>
  </sq-tab>
  <sq-tab label="Target Regions"> 
    <ng-template sqTabContent>
      Target Regions Details
    </ng-template>
  </sq-tab>
  <sq-tab label="Custom Scripts">    
    <ng-template sqTabContent>
      Custom Scripts Details
    </ng-template>
  </sq-tab>
  <sq-tab label="Filter Results Display Configurations">
    <ng-template sqTabContent>
      Filter Results Display Configurations Details
    </ng-template>
  </sq-tab>
</sq-tab-group>
